* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
}

/* Typography */

h1,
h2 {
  font-family: "Abril Fatface", serif;
  margin: 0;
}

h1,
.hero-post p,
.hero-post span {
  color: #fdfaf6;
  text-shadow: 1px 1px 2px black;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.post-date {
  font-size: 0.6rem;
  text-transform: uppercase;
}

/* Flex */

header,
ul,
.logo,
.hero-post {
  display: flex;
}

/* Sections */

header,
footer {
  background-color: #222831;
  color: #e8bcb9;
}

header {
  justify-content: space-between;
  font-family: "Abril Fatface", serif;
  padding: 0 0.8em;
}

/* Navigation */

ul {
  list-style: none;
  gap: 1.5em;
}

.logo {
  align-items: center;
}

.logo-text {
  font-size: 0.7rem;
}

a {
  text-decoration: none;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #e8bcb9;
}

/* Hero Post */

.hero-post {
  background-image: url(images/hero-image.jpg);
  background-size: cover;
  padding: 1em;
  height: 50vh;
  flex-direction: column;
  justify-content: end;
  overflow-y: auto;
}

/* Post Section */

.post-section {
  display: grid;
  grid-template-areas:
    "... ... ..."
    "... one ..."
    "... two ..."
    "... ... ...";
  grid-template-columns: 1em 1fr 1em;
  grid-template-rows: 1em repeat(2, 1fr) 1em;
}

.post-one {
  grid-area: one;
}

.post-two {
  grid-area: two;
}

/* Footer */
footer {
  text-align: center;
  padding: 0.95em 0;
}

footer p {
  margin: 0;
  line-height: 0.5;
}

footer p,
footer span {
  font-size: 0.5rem;
}

/* Images */

.logo img {
  width: 50px;
}

article img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
