/* =============================
   Reset & Base Styles
============================= */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
  padding: 0;
  margin: 0;
}

/* =============================
   Typography
============================= */

h1,
h2 {
  font-family: "Abril Fatface", serif;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  color: #fdfaf6;
  text-shadow: 1px 1px 2px black;
}

h2 {
  font-size: 1.25rem;
  color: #222831;
}

p {
  margin: 0;
  line-height: 1.5;
}

.post-date {
  font-size: 0.6rem;
  text-transform: uppercase;
}

/* =============================
   Utilities 
============================= */

.text-light {
  color: #fdfaf6;
  text-shadow: 1px 1px 2px black;
}

.text-dark {
  color: #222831;
}

/* =============================
   Layout & Containers
============================= */
header,
footer {
  background-color: #222831;
  color: #e8bcb9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8em;
  font-family: "Abril Fatface", serif;
}

.post-section article {
  margin-bottom: 0.938em;
}

/* =============================
   Navigation
============================= */

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
}

.logo-text {
  font-size: 0.7rem;
}

nav a {
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #e8bcb9;
}

/* =============================
   Hero Section
============================= */

.hero-post {
  background-image: url(images/hero-image.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1em;
  height: 50vh;
  overflow-y: auto;
}

.hero-post p,
.hero-post .post-date {
  font-size: 1rem;
  line-height: 1.5;
}

/* =============================
   Post Section
============================= */

.post-section {
  display: grid;
  grid-template-columns: 1em 1fr 1em;
  grid-template-rows: 1em repeat(3, auto) 1em;
  grid-template-areas:
    "... ... ..."
    "... one ..."
    "... two ..."
    "... three ..."
    "... ... ...";
}

.post-one-div {
  grid-area: one;
}

.post-two-div {
  grid-area: two;
}

.post-three-div {
  grid-area: three;
}

.post-section p {
  font-size: 0.85rem;
}

/* =============================
   Footer
============================= */

footer {
  flex-direction: column;
  text-align: center;
  padding: 0.95em 0;
}

footer p {
  margin: 0 0 0.5em 0;
  line-height: 0.5;
}

footer p,
footer span {
  font-size: 0.5rem;
}

/* =============================
   Images
============================= */

article img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
