* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
}

/* Typography */

h1,
h2 {
  font-family: "Abril Fatface", serif;
}

/* Flex */

header,
ul,
.logo {
  display: flex;
  align-items: center;
}

/* Navigation */

header {
  justify-content: space-between;
  background-color: #222831;
  font-family: "Abril Fatface", serif;
}

ul {
  list-style: none;
  gap: 1.5em;
}

.logo-text,
a {
  color: #e8bcb9;
}

.logo-text {
  font-size: 0.7rem;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85rem;
}

/* Hero Post */

.hero-post {
  background-image: url(images/hero-image.jpg);
  background-size: cover;
}

/* Post Section */

.post-section {
  display: grid;
  grid-template-areas:
    "... ... ..."
    "... one ..."
    "... two ..."
    "... ... ...";
  grid-template-columns: 1em 1fr 1em;
  grid-template-rows: 1em repeat(2, 1fr) 1em;
}

.post-one {
  grid-area: one;
}

.post-two {
  grid-area: two;
}

/* Images */

.logo img {
  width: 50px;
}

article img {
  width: 100%;

  object-fit: cover;
}

/* .abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
} */
